<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="a" class="com.beans.A"></bean> 
<bean id="b" class="com.beans.B"></bean> 

<bean id="pfactory" class="PrintableFactory"></bean>  
<bean id="p" class="com.beans.Printable" 
></bean> 
<!-- <bean id="a2" class="com.javatpoint.A2" factory-method="getA2" ></bean>  -->
<bean id="a3" class="com.javatpoint.A2" factory-method="getA2" factory-bean="pfactory"></bean> 


</beans>
